{% extends 'template.html' %}
{% block content %}
<div class="p-2">
    Do you want to contribute to CatGPT? Upload your own model below to see how it stands up against our training data! You can also download the original model <a href="/model">here</a> to test locally.
</div>
<div class="progress">
    <div class="progress-bar primary" role="progressbar" id="accuracy" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0% Accuracy</div>
 </div>
<div class="p-2">
    <form id="model_form">
        <input type="file" name="model" id="model_input" accept=".h5,.keras"/>
        <input type="submit" value="Submit" id="submit_button"/>
    </form>
</div>
<div style="text-align:center;"><a href="/" style="color:#999; font-size:0.8em">&laquo; Back</a></div>
{% endblock %}
{% block scripts %}
<script src="/static/assets/js/contribute.js"></script>
{% endblock %}