{% extends "template.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h3>Firmware Update</h3>
                <p>
                Use the form below to upload a new firmware package from the manufacturer. Or <a href="/api/firmware/download">click here</a> to download the current firmware.
                </p>
            </div>
            <div class="card-body">
                <form id="uploadForm" action="/api/firmware/upload" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="file" class="form-label">File</label>
                        <input type="file" class="form-control" id="file" name="file" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}